.footer {
    background-color: #1f1f1f;
    padding: 60px 0 40px;
}

.logo_place_footer {
    position: absolute;
    top: 0;
    left: 0;
}

.footer__column_content_info {
    
}

.footer__column_content_social {
    
}